<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sau.ums.complain.dao.ComplainDao">
  <sql id="complaincolumn">
     id,complain,status,way,ps
  </sql>
  <select id="listComplain" parameterType="Complain" resultType="Complain">
  SELECT <include refid="complaincolumn"></include>
  FROM t_complain
  <where>
  <if test="status != null and status != ''">
  status LIKE #{status}
  </if>
  </where>
  </select>
  
  <!-- 删除 -->
  <delete id="delComplain" parameterType="Complain">
  DELETE FROM t_complain
  WHERE id=#{id}
  </delete>

</mapper>
