<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sau.ums.park.dao.ParkDao">
  <sql id="parkcolumn">
     carnum,begintime,endtime,status,room,ps
  </sql>
  <!-- 查询停车场列表 -->
  <select id="listPark" parameterType="Park" resultType="Park">
  SELECT <include refid="parkcolumn"></include>
  FROM t_park
  <where>
  <if test="carnum != null and carnum != ''">
  carnum LIKE #{carnum}
  </if>
  <if test="room != null and room != ''">
  room LIKE #{room}
  </if>
  <if test="status != null and status != ''" >
  status LIKE #{status}
  </if>
  </where>
  </select>
  
  <!-- 删除 -->
  <delete id="delPark" parameterType="Park">
  DELETE FROM t_park
  WHERE carnum=#{carnum}
  </delete>
  
  <!-- 添加停车位 -->
  <insert id="addPark" parameterType="Park">
  INSERT INTO t_park(carnum,status,ps)
  VALUES(#{carnum},#{status},#{ps})
  </insert>
  
  <!-- 查询信息 -->
    <select id="getParkInfoById" parameterType="String" resultType="Park">
       SELECT <include refid="parkcolumn"></include>
       FROM t_park
       WHERE carnum=#{carnum}
  </select>
  
  <!-- 修改 -->
    <update id="updatePark" parameterType="Park">
    UPDATE t_park
    <set>
    <if test="begintime != null">
    begintime=#{begintime}
    </if>
    <if test="endtime != null">
    ,endtime=#{endtime}
    </if>
    <if test="room != null">
    ,room=#{room}
    </if>
    ,status=#{status}
    </set>
    WHERE carnum=#{carnum}
    </update>
    
    <!-- 根据房号查询 -->
    <select id="getParkInfoByRoom" parameterType="String" resultType="Park">
       SELECT <include refid="parkcolumn"></include>
       FROM t_park
       WHERE room=#{room}
  </select>
  
  <!-- 添加车位费 -->
  <update id="updateParkFee" parameterType="String">
  update t_propertyfee
  <set>
  <if test="parkfee != null">
  parkfee=#{parkfee}
  </if>
  <if test="payment != null">
  ,payment=#{payment}
  </if>
  
  </set>
  WHERE room=#{room}
  </update>
</mapper>
