<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sau.ums.propertyfee.dao.PropertyFeeDao">

    <select id="listPropertyfee" parameterType="Propertyfee" resultType="Propertyfee">
    SELECT *
    FROM t_propertyfee
    <where>
        <if test=" room != '' and room != null ">
            room=#{room}
        </if>
    </where>
    </select>
</mapper>