<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sau.ums.protect.dao.ProtectDao">
    <sql id="protectcolumn">
        position,facility,ps
    </sql>
    <!-- 查询用户列表 -->
    <select id="listProtect" parameterType="Protect" resultType="Protect">
    SELECT <include refid="protectcolumn"></include>
    FROM t_protect
    <where>
    <if test="facility != null and facility != ''">
    facility LIKE #{facility}
    </if>
    </where>
    </select>
    
    <!-- 删除 -->
    <delete id="delProtect" parameterType="Protect">
    DELETE FROM t_protect
    WHERE position=#{position}
    </delete>
    
    <!-- 添加 -->
    <insert id="addProtect" parameterType="Protect">
    INSERT INTO t_protect(position,facility,ps)
    VALUES(#{position},#{facility},#{ps})
    </insert>
</mapper>