<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sau.ums.purchase.dao.PurchaseDao">
  <sql id="purchasecolumn">
      id,sname,price,number,total,uses,time,ps
  </sql>

  <!-- 查询采购列表 -->
  <select id="listPurchase" parameterType="Purchase" resultType="Purchase">
  SELECT <include refid="purchasecolumn"></include>
  FROM t_purchase
  <where>
  <if test="sname != null and sname != ''">
  sname LIKE #{sname}
  </if>
  </where>
  </select>
  
  <!-- 删除 -->
  <delete id="delPurchase" parameterType="Purchase">
  DELETE FROM t_purchase
  WHERE id=#{id}
  </delete>
  
  <!-- 添加 -->
  <insert id="addPurchase" parameterType="Purchase">
  INSERT INTO t_purchase(sname,price,number,total,uses,time,ps)
  VALUES(#{sname},#{price},#{number},#{total},#{uses},#{time},#{ps})
  </insert>
  
  <!-- 根据id查询信息 -->
    <select id="getPurchaseInfoById" parameterType="String" resultType="Purchase">
       SELECT <include refid="purchasecolumn"></include>
       FROM t_purchase
       WHERE id=#{id}
    </select>
    
    <!-- 修改信息 -->
    <update id="updatePurchase" parameterType="Purchase">
    UPDATE t_purchase
    <set>
    <if test="sname != null">
    sname=#{sname}
    </if>
    <if test="price != null">
    ,price=#{price}
    </if>
    <if test="number != null">
    ,number=#{number}
    </if>
    <if test="total != null">
    ,total=#{total}
    </if>
    <if test="uses != null">
    ,uses=#{uses}
    </if>
    <if test="time != null">
    ,time=#{time}
    </if>
    </set>
    WHERE id=#{id}
    </update>

</mapper>
