<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sau.ums.user.dao.UserDao">
    <sql id="usercolumn">
        id,name,sex,idcard,username,password,tel,email,kind,num,ps
    </sql>
    <!-- 通过用户名查询用户信息 -->
   <select id="getUserByName" parameterType="string" resultType="User">
       SELECT <include refid="usercolumn"></include>
       FROM t_user
       WHERE username=#{username}
    </select>
    
    <!-- 查询用户列表 -->
    <select id="listUser" parameterType="User" resultType="User">
    SELECT <include refid="usercolumn"></include>
    FROM t_user
    <where>
    <if test="username != null and username != ''">
    username LIKE #{username}
    </if>
    <if test="name!=null and name!=''">
    AND name LIKE #{name}
    </if>
    <if test="kind!=null and kind!=''">
    AND kind LIKE #{kind}
    </if>
    </where>
    </select>
    
    <!-- 删除用户 -->
    <delete id="delUser" parameterType="User">
     DELETE FROM t_user
     WHERE id=#{id}
    </delete>
    
    <!-- 添加用户 -->
    <insert id="addUser" parameterType="User">
    INSERT INTO t_user(name,sex,idcard,kind,ps,num)
    VALUES(#{name},#{sex},#{idcard},#{kind},#{ps},#{num})
    </insert>
    
    <!-- 修改用户信息 -->
    <update id="updateUser" parameterType="User">
    UPDATE t_user
    <set>
    <if test="name != null">
    name=#{name}
    </if>
    <if test="sex != null">
    ,sex=#{sex}
    </if>
    <if test="idcard != null">
    ,idcard=#{idcard}
    </if>
    <if test="kind != null">
    ,kind=#{kind}
    </if>
    <if test="num != null">
    ,num=#{num}
    </if>
    <if test="ps != null">
    ,ps=#{ps}
    </if>
    </set>
    WHERE id=#{id}
    </update>
    
    <!-- 查询用户列表 -->
    <select id="getUserInfoById" parameterType="String" resultType="User">
       SELECT <include refid="usercolumn"></include>
       FROM t_user
       WHERE id=#{id}
    </select>
</mapper>